<h1>Задачи</h1>


<br>


<table>
 
  <% @projects.each do |project| %>
    
      <h3 style="text-transform: uppercase;"><%= project.title %></h3>
      	<ul>
      		<% project.todos.each do |todo| %>
      			<li><%= todo.text %></li>
      		<% end %>
      	</ul>
  <% end %>
</table>

<h4>Добавить новую задачу  <a href="#" onclick="showDiv()"> + </a>
</h4>


<div id="newTask">
<h3>НОВАЯ ЗАДАЧА</h3>


<%= form_for :todo, url: todo_path, :html => {:id => "form-id"} do |f| %>
  <p>
    <%= f.text_field :text, placeholder: "Название задачи..." %>
  </p>


 	<%= f.select :project_id, @projects.collect {|p| [p.title, p.id]} %>


  <p>
  	<a href="/" onclick="closeDiv()"> ОТМЕНА </a>
    <a href="/" onclick="document.getElementById('form-id').submit();"> ОК </a>
    
  </p>

<% end %>
</div>

<script type="text/javascript">
	$('#newTask').hide();
</script>